{% extend_me %}

{% block repo_tab_content_extra %}
    <hr>
    <b style="color: #1c84c6">OData</b>
    {% if projectDetails.access_type < 4 %}
        {% if formDetails.odata_status == 0 or not formDetails.odata_status or formDetails.odata_status == -1 %}
            <a id="odata_generate" class="btn btn-white btn-bitbucket" href="#" title="{{ _('Generate endpoints') }}"><i class="fas fa-sync-alt"></i></a>
        {% endif %}
        {% if formDetails.odata_status == 2 or formDetails.odata_status == 3  %}
            <a id="odata_check" class="btn btn-white btn-bitbucket" href="{{ request.route_url('odata_check',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" title="{{ _('Check if endpoints are ready') }}"><i style="color: #1c84c6" class="fas fa-question"></i></a>
        {% endif %}
    {% endif %}
    <a id="odata_info_button" class="btn btn-white btn-bitbucket" data-toggle="modal" data-target="#odata_info" title="{{ _('What is OData?') }}"><i class="fas fa-info"></i></a>
    {% if formDetails.odata_url_v2  %}
        {% if projectDetails.access_type < 3 %}
            <a id="odata_config" class="btn btn-white btn-bitbucket" href="{{ request.route_url('odata_users', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" title="{{ _('Configure OData Access') }}"><i class="fas fa-cog"></i></a>
        {% endif %}
    {% endif %}
    <br/>
    {{ _('V2 Endpoint:') }}
    <div class="input-group">
        {% if formDetails.odata_status == 1 %}
            <input type="text" id="odata_url_v2" readonly value="{{ formDetails.odata_url_v2 }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == 0  or not formDetails.odata_status %}
            <input type="text" id="odata_url_v2" readonly value="{{ _("Generate it") }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == 2 or formDetails.odata_status == 3 %}
            <input type="text" id="odata_url_v2" readonly value="{{ _("Creating URL. Please wait...") }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == -1 %}
            <input type="text" id="odata_url_v2" readonly value="{{ _("Error generating URL. QLands has been informed about this problem. You can try again") }}" class="form-control">
        {% endif %}
        <span class="input-group-append">
            {% if formDetails.odata_status == 1 %}
                <a id="odata_url_v2_copy" class="btn btn-white btn-bitbucket clipboard" data-clipboard-text="{{ formDetails.odata_url_v2 }}" title="{{ _('Copy to clipboard') }}"><i class="far fa-copy"></i></a>
            {% endif %}
        </span>
    </div>
    <br/>
    {{ _('V4 Endpoint:') }}
    <div class="input-group">
        {% if formDetails.odata_status == 1 %}
            <input type="text" id="odata_url_v4" readonly value="{{ formDetails.odata_url_v4 }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == 0  or not formDetails.odata_status %}
            <input type="text" id="odata_url_v4" readonly value="{{ _("Generate it") }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == 2 or formDetails.odata_status == 3 %}
            <input type="text" id="odata_url_v4" readonly value="{{ _("Creating URL. Please wait...") }}" class="form-control">
        {% endif %}
        {% if formDetails.odata_status == -1 %}
            <input type="text" id="odata_url_v4" readonly value="{{ _("Error generating URL. QLands has been informed about this problem. You can try again") }}" class="form-control">
        {% endif %}
        <span class="input-group-append">
            {% if formDetails.odata_status == 1 %}
                <a id="odata_url_v4_copy" class="btn btn-white btn-bitbucket clipboard" data-clipboard-text="{{ formDetails.odata_url_v4 }}" title="{{ _('Copy to clipboard') }}"><i class="far fa-copy"></i></a>
            {% endif %}
        </span>
    </div>
{% endblock repo_tab_content_extra %}